/******** MOBILE ********/

/***General***/
html {
  scroll-padding-top: 5em;
}
a {
  text-decoration: none;
}
a:hover {
  color: #1ba098;
}
body {
  margin: 0;
  background: url("images/background.png") repeat center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #deb992;
}
h1 {
  font-size: 80px;
  color: #deb992;
}
h2 {
  font-size: 60px;
  color: #deb992;
}
p {
  font-size: 16px;
  color: #deb992;
}

/***Header***/
header {
  background-color: #051622;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 4em;
  width: 100%;
  border: 3px solid #deb992;
}
.large-nav {
  display: none;
}
.show {
  position: absolute;
  left: 0px;
  top: 64px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: #051622;
  width: 100%;
  border-top: 3px solid #deb992;
  border-bottom: 3px solid #deb992;
  padding-left: 3.2em;
  height: 200px;
}
.hide {
  display: none;
}
header button {
  margin-right: 2em;
  background: transparent;
  border: 0;
}
.hamburger i {
  font-size: 2em;
  color: #deb992;
  background: transparent;
}
.hamburger:hover {
  cursor: pointer;
}
.mynav {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  margin: 0;
  height: 100%;
}
.nav-link {
  width: 100%;
  padding-bottom: 10px;
  color: #deb992;
}
.nav-link:hover {
  cursor: pointer;
}
.logo {
  font-size: 2em;
  padding-left: 1em;
  color: #deb992;
  background-color: #051622;
}

/***Hero***/
.hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin-top:4em;
  height:fit-content;
  background-color: #051622;
  width: 100%;
  overflow: hidden;
}
.hero-title {
  width: fit-content;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: #051622;
  border-radius: 0 60px 60px 0;
  border: 5px solid #deb992;
  background-color: #deb992;
  border-left: 0px;
  padding: 10px 20px;
  text-align: left;
  margin: 4em 1em 0 0;
  font-size: 2em;
}
.hero-p {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.hero-desc {
  color: #051622;
  border-radius: 50px 0 0 50px;
  border: 5px solid #deb992;
  background-color: #deb992;
  text-align: left;
  padding: 20px;
  margin: 5em 0 0 3em;
}
.hero-social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1em 2em 4em 2em;
  margin-top: 4em;
}
.hero-social-icons i {
  font-size: 2em;
  color: #deb992;
}
.hero-social-icons i:hover {
  color: #1ba098;
}

/***About***/
#about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  border: 1px solid #051622;
  border-radius: 20px;
  box-shadow: 10px 10px 8px gray, 10px 10px 8px gray;
  background-color: #051622;
  margin-top: 5em;
}
.all-titles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.special-title {
  width: 80%;
  text-align: center;
  color: #deb992;
  text-shadow: 2px 2px gray;
  margin: 5px 0px;
}
.title {
  width: 80%;
  text-align: center;
  color: #051622;
  text-shadow: 2px 2px #deb992;
  margin: 5px 0px;
}
.about-image {
  width: 70%;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.about-image img {
  height: 70%;
  max-width: 70%;
  border-radius: 20px;
  margin: 1em;
}
.about-description {
  width: 100%;
  line-height: 2em;
  padding: 0 30px 5px 30px;
}
.about-description p {
  font-size: 20px;
}
.about-skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.about-skills h3 {
  width: 80%;
  color:#051622;
  border: 1px solid #deb992;
  border-radius: 20px;
  background-color:#deb992;
  text-align: center;
}

/***Skill Cards ***/
.skill-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 1px #051622 solid;
  border-radius: 20px;
  margin: 1em;
  padding: 1em;
  background-color: #051622;
  box-shadow: 10px 10px 8px gray, 10px 10px 8px gray;
  height: fit-content;
}
.skill-card-title {
  color: #deb992;
}
.skill-card i {
  text-align: center;
  width: 25%;
  font-size: 3em;
  color: #1ba098;
}
.skill-card-body {
  width: 70%;
}

/***Project Cards***/
.project-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  border: 1px #051622 solid;
  border-radius: 20px;
  text-align: center;
  width: 60%;
  height: fit-content;
  margin: 1em;
  padding: 1em;
  overflow: auto;
  box-shadow: 2px 2px 10px gray;
  background-color: #051622;
  color: #deb992;
}
.project-card:hover {
  box-shadow: 10px 10px 8px gray, 10px 10px 8px gray;
}
.project-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border: 1px solid #deb992;
  border-radius: 20px;
}
.project-card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #deb992;
  height: 70%;
}

.project-card:hover .project-card-title,
.project-card:hover .project-card-description,
.project-card:hover .project-card-body ul {
  color: #1ba098;
}
.project-card.title {
  margin-bottom: 0;
}
.project-card-description {
  margin: 0;
}
.project-card-body ul {
  margin: 0;
  padding: 1em 0 0 0;
}
.project-card-body li {
  padding: 0.1em 0;
}

/***Skills***/
#skills-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 30px;
}

/***Projects***/
#projects-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/***Contact***/
#contact-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
  margin-bottom: 1em;
  margin-top: 2em;
  width: 90%;
  border: 1px solid #051622;
  border-radius: 20px;
  box-shadow: 10px 10px 8px gray, 10px 10px 8px gray;
  background-color: #051622;
}
.contact {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.map {
  width: 90%;
}
iframe {
  border-radius: 10px;
}
.form {
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
::placeholder {
  color: rgb(52, 50, 50);
  font-family: "Times New Roman", Times, serif;
}
.form input,
textarea {
  background-color: #deb992;
  color: #051622;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.name,
.email,
.subject,
.project {
  margin-top: 1em;
  width: 100%;
  color: #051622;
  border-radius: 5px;
}

.contact-button {
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #deb992;
  background-color: #deb992;
  margin: 20px 0;
  color: #051622;
  font-weight: bold;
}
.contact-button:hover {
  background-color: #1ba098;
  border: 2px solid #1ba098;
  cursor: pointer;
  color: white;
}

/***Contact Footer***/
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #051622;
  width: 100%;
  height: 100%;
}
.footer i {
  font-size: 2em;
  padding: 3px 0;
  color: #deb992;
}
.footer i:hover {
  color: #1ba098;
}

/******** TABLET ********/

@media all and (min-width: 700px) {

  /***Header***/
  .small-nav {
    display: none;
  }
  .large-nav {
    display: flex;
    width: 50%;
    font-size: 20px;
    padding-right: 2em;
  }
  .mynav {
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .mynav a {
    width: 23%;
    border-right: 1px solid white;
    text-align: center;
  }
  .border {
    border-left: 1px solid white;
  }
  .hamburger {
    display: none;
  }

  /***Hero***/

  .hero-social-icons i {
    font-size: 3em;
  }
  .hero-title {
    font-size: 3em;
    margin-top: 2em;
  }
  .hero-desc {
    font-size: 1.5em;
    margin-top: 2em
  }

  /***About***/
  .about-image img {
    width: 60%;
  }
  .about-skills h3 {
    width: 31%;
  }

  /***Cards***/
  .project-card {
    width: 40%;
    height: 340px;
  }
  .skill-card {
    width: 40%;
  }

  /***Contact***/

  .contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  .map {
    width: 45%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .form {
    width: 45%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
  }
  form {
    display: inline-block;
    width: 100%;
    margin-left: 4em;
  }
  .name,
  .email,
  .subject,
  .project {
    width: 90%;
    padding: 10px;
  }
  /***Contact Footer***/

  .footer {
    margin-top: 1em;
  }
}

/******** DESKTOP ********/

@media (min-width: 1200px) {

  /***Hero***/

  .hero-title {
    font-size: 4em;
    margin-top: 1em;
  }
  .hero-desc {
    font-size: 2em;
  }

  /***About***/

  #about {
    justify-content: space-around;
  }
  .about-description {
    width: 50%;
    padding: 10px;
  }
  .about-image {
    width: 40%;
  }
  .about-image img {
    width: 100%;
  }

  /***Cards***/

  .project-card {
    width: 25%;
    height: 340px;
  }